.THIS .bodyContainer {
  max-width: 1232px;
  margin: auto;
}


@media screen and (max-device-width: 1280px), (max-width: 1280px) {
    .THIS .bodyContainer {
		margin-left: 24px;
		margin-right: 24px;
    }
  }